@use 'abstracts/responsive' as *;

.habits-page {
  display: grid;
  grid-template-columns: minmax(0, 640px);
  justify-content: center;
  padding: var(--space-4);

  @include from-md {
    padding: var(--space-6) var(--space-4);
  }
}